<!DOCTYPE html>
<html>
<head>
  <title>LivingSocial Deals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>
  <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/navbar' %>
  <%= yield %>
  <%= render partial: 'layouts/footer' %>

</body>
</html>
